.header{
   width: 100vw;
   height: 680px;
}
.headerImage{
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   z-index: 0;
}
.headerDiv{
   position: relative;
   width: 100%;
   height: 100%;
}

.headerLogo{
   width: 78px;
   height: 42px;
}
.headerNavDiv{
   position: absolute;
   top: 70px;
   left: 7%;
   right: 7%;
   width: 86%;
   height: 83px;
   margin: 0 auto;
   border-radius: 18px;
   background-color: #FFFFFF;
   display: flex;
   justify-content: space-around;
   align-items: center;
   z-index: 3;

}

.h1Div{
   width: 50%;
   padding: 5% 45% 5% 5%;
   position: absolute;
   z-index: 2;
   left: 5%;
   bottom: 1%;
}
.h1{
   font-size: 64px;
   font-weight: 700;
   line-height: 77.45px;
   color: #FFFFFF;
   margin: 0;
}

.slideDots{
   width: 4%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: absolute;
   bottom: 30px;
   left: 48%;
   right: 48%;
}






