.selectDiv{
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 44%;
   margin: 0 2%;
}
.selectIMG{
   width: 24px;
   height: 24px;
   margin: 0 1.5%;
}
.selectName{
   width: calc(96% - 64px);
   color: #1E1E1E;
   font-size: 16px;
   font-weight: 600;
   line-height: 19.36px;
   text-align: center;
}
.select{
   width: 40px;
   border: none;
   color: #1E1E1E;
   background-color: #FFFFFF;
   font-size: 16px;
   &:focus{
      outline: none;
      border: none;
   }
}
.option{
   border: none;
   color: #1E1E1E;
   font-size: 16px;
   margin: 5px;
   border-radius: 5px;
   outline: none;
}

@media screen and (max-width: 1010px){
   .selectName{
      font-size: 15px;
   }
}