.dateDiv{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: start;
   width: 22%;
}
.pDate{
   color: #000000;
   font-size: 16px;
   font-weight: 700;
   line-height: 19.36px;
   margin: 8px 0;
}
.date{
   width: 98%;
   height: 60px;
   padding: 0 2%;
   background-color: #FFFFFF;
   border-radius: 12px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.image{
   margin: 0 8%;
   width: 24px;
   height: 24px;
}
.pSubTitle{
   width: 84%;
   margin: 0 8%;
   color: #1E1E1E;
   font-size: 16px;
   font-weight: 600;
   line-height: 19.36px;
}

@media screen and (max-width: 1010px){
   .pSubTitle{
      font-size: 15px;
   }
}