.inputDiv{
   width: 100%;
   background-color: #E9F3F6;
   border-top-left-radius: 12px;
   border-bottom-left-radius: 12px;
   border-right: none;
   height: 60px;
}
.input{
   width: calc(100% - 40px);
   border-radius: 12px;
   height: 60px;
   padding:0 20px ;
   font-size: 18px;
   border: none;
   &:focus{
      outline: none;
      border: none;
      
   }
}