.hotelRoomsDiv{
   margin: 30px 0px;
   width: 100%;
   background-color: #F3F3F3;
}
.itemsFlexDiv{   
   width: 94%;
   display: flex;
   flex-shrink: inherit;
   justify-content: space-around;
   margin: 50px ;
}
.roomDiv{
   width: 30%;
   margin: 50px 15px 50px 25px;
}
.otherRoomsDiv{
   width: 70%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: 50px 0 20px 0;
}

.rooms{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: 50px 15px;
}