body {
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
}

Link{
  text-decoration: none;
  color:#262626;
}
// .container{
//   margin-top: 690px;
// }


.loadingDiv{
  margin: 50px;
}
.loadingH{
  font-size: 40px;
  color: black;
  text-align: center;
}
.errorH{
  font-size: 40px;
  color: red;
  text-align: center;
}
